@media screen and (max-width:1275px){
    .eshop{
        display: grid;
        grid-template-columns: repeat(1fr,4);
        grid-template-rows: repeat(1fr,3);
        grid-template-areas: 
        ". pd1 pd2 ."
        ". pd3 pd4 ."
        ". pd5 pd6 .";  
        gap: 15px;
    }
    .pd1{grid-area: pd1;}
    .pd2{grid-area: pd2;}
    .pd3{grid-area: pd3;}
    .pd4{grid-area: pd4;}
    .pd5{grid-area: pd5;}
    .pd6{grid-area: pd6;}
}

@media screen and (max-width:870px) {
    .eshop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:550px) {
    .contenedorshop{
        height: 550px;
    }
}
@media screen and (max-width:450px) {
    .capa{
        width: 80%;
    }
}