.desplegable__menu{
    color: $blanco;
    font-size: 2.1em;
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.desplegable__logo{
    width: 20%;
}
.desplegable__li{
    list-style: none;
    border-bottom: 3px solid $colorhover;
    margin-bottom: 3px;
}

.desplegable__li > a {
    text-decoration: none;
    color: $blanco;
    font-family: 'Bebas Neue', cursive;
    font-size: .5em;
}
.desplegable__submenu{
   display: none;
}
.mostrar{
    display: block;
}
.desplegable{
    display: none;
}
