@media screen and (max-width: 900px){
    .navBar__items > a{
        font-size: 1.5em;
    }
    .contenedorPrincipal{
        display: flex;
        flex-direction: column;
    }
    .imagenes{
        width: 100% ;
    }
    .discografia{
        display: flex;
        flex-direction: column;
    }
   .spotify{
       height: 300px;
   }
}
@media screen and (max-width:737px){
    .navBar__items > a{
        font-size: 1.1em;
    }
}

@media screen and (max-width:615px){
    .footer__div2{
        font-size: 1em;
    }
}
@media screen and (max-width:745px) {
    .header__div{
        text-align: center;
    }
}
@media screen and (max-width:550px){

    .header{
        background-position: -100px;
    }
    .logoFooter, .fiscalFooter{
        width: 90px;
    }
}

@media screen and (max-width:980px) {
    .header{
        background-position: -150px;
    }
}

@media screen and (max-width:800px) {
    .header{
        background-position: -300px;
    }
}

@media screen and (max-width:630px) {
    .header{
       background-image: url(../img/ysyfachero.jpg);
    }
}
@media screen and (min-width:1024px){
    .nav-bar{
        display: none;
    }

    .menu{
        position: fixed;
        margin-top: 0px;
        margin-left: 0px;
        display: flex;
    }
}

@media screen and (max-width:1023px){
    .menu{
        flex-direction: column;
        align-items: flex-start;
    }
    .logoitem{
        display: none;
    }
}
